.wrapper {
  max-width: 960px;
  margin: 0 auto;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.header h2 {
  margin: 0;
}
.header input[type="search"] {
  width: 400px;
  border: 1px solid #e8e8e8;
  padding: 3px 10px;
  height: 30px;
}
.header input[type="search"]:focus {
  background-color: #f9f9f9;
}